body {
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
}

.employees-list {
	margin: 10px 0;
}

.employees-list .employee-box {
	border: 1px solid grey;
	padding: 10px;
}

.error {
	color: red;
}

.welcome a {
	display: block;
	margin: 10px 0;
	font-size: 20px;
	line-height: 30px;
}

.welcome ol {
	list-style-type: none;
}

.card {
	box-shadow: 10px 10px 5px #888888;
	border: 2px solid #888888;
	border-radius: 10px;
	padding: 25px;
	max-width: 900px;
	margin: 20px auto;
}